In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
from os.path import abspath

spark = SparkSession.builder.getOrCreate()
print(SparkConf().getAll())

In [4]:
# only to see some settings of spark
print(SparkConf().getAll())

[('spark.master', 'local[*]'), ('spark.submit.deployMode', 'client'), ('spark.ui.showConsoleProgress', 'true'), ('spark.app.name', 'pyspark-shell')]

In [5]:
print(spark.sparkContext.setLogLevel("INFO"))

None

In [13]:
# path of the files
country_path = "/data/country/*.csv"
population_path = "/data/population/*.csv"

In [7]:
# open the country table
df_country = spark.read \
                          .format('csv') \
                          .option("inferSchema", "True") \
                          .option('header', 'True') \
                          .csv(country_path)

In [14]:
# open the population world table
df_population = spark.read \
                          .format('csv') \
                          .option("inferSchema", "True") \
                          .option('header', 'True') \
                          .csv(population_path)

In [11]:
# show the country table
df_country.show()

+----+-------------+-----------------+-------------+
|CCA3|      Country|          Capital|    Continent|
+----+-------------+-----------------+-------------+
| JAM|      Jamaica|         Kingston|North America|
| JPN|        Japan|            Tokyo|         Asia|
| JEY|       Jersey|     Saint Helier|       Europe|
| JOR|       Jordan|            Amman|         Asia|
| KAZ|   Kazakhstan|        Nursultan|         Asia|
| KEN|        Kenya|          Nairobi|       Africa|
| KIR|     Kiribati|           Tarawa|      Oceania|
| KWT|       Kuwait|      Kuwait City|         Asia|
| KGZ|   Kyrgyzstan|          Bishkek|         Asia|
| LAO|         Laos|        Vientiane|         Asia|
| LVA|       Latvia|             Riga|       Europe|
| LBN|      Lebanon|           Beirut|         Asia|
| LSO|      Lesotho|           Maseru|       Africa|
| LBR|      Liberia|         Monrovia|       Africa|
| LBY|        Libya|          Tripoli|       Africa|
| LIE|Liechtenstein|            Vaduz|       Europe|
| LTU|    Lithuania|          Vilnius|       Europe|
| LUX|   Luxembourg|       Luxembourg|       Europe|
| MAC|        Macau|Concelho de Macau|         Asia|
| MDG|   Madagascar|     Antananarivo|       Africa|
+----+-------------+-----------------+-------------+
only showing top 20 rows

In [15]:
# show the population table
df_population.show()

+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|Rank|CCA3|2022_Population|2020_Population|2015_Population|2010_Population|2000_Population|1990_Population|1980_Population|1970_Population|Area_(km²)|Density_(per km²)|Growth_Rate|World_Population_Percentage|
+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|  36| AFG|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
| 138| ALB|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
|  34| DZA|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
| 213| ASM|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
| 203| AND|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
|  42| AGO|       35588987|       33428485|       28127721|       23364185|       16394062|       11828638|        8330047|        6029700|   1246700|          28.5466|     1.0315|                       0.45|
| 224| AIA|          15857|          15585|          14525|          13172|          11047|           8316|           6560|           6283|        91|         174.2527|     1.0066|                        0.0|
| 201| ATG|          93763|          92664|          89941|          85695|          75055|          63328|          64888|          64516|       442|         212.1335|     1.0058|                        0.0|
|  33| ARG|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|
| 140| ARM|        2780469|        2805608|        2878595|        2946293|        3168523|        3556539|        3135123|        2534377|     29743|          93.4831|     0.9962|                       0.03|
| 198| ABW|         106445|         106585|         104257|         100341|          89101|          65712|          62267|          59106|       180|         591.3611|     0.9991|                        0.0|
|  55| AUS|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|
|  99| AUT|        8939617|        8907777|        8642421|        8362829|        8010428|        7678729|        7547561|        7465301|     83871|         106.5877|      1.002|                       0.11|
|  91| AZE|       10358074|       10284951|        9863480|        9237202|        8190337|        7427836|        6383060|        5425317|     86600|         119.6082|     1.0044|                       0.13|
| 176| BHS|         409984|         406471|         392697|         373272|         325014|         270679|         223752|         179129|     13943|          29.4043|     1.0051|                       0.01|
| 154| BHR|        1472233|        1477469|        1362142|        1213645|         711442|         517418|         362595|         222555|       765|        1924.4876|     1.0061|                       0.02|
|   8| BGD|      171186372|      167420951|      157830000|      148391139|      129193327|      107147651|       83929765|       67541860|    147570|         1160.035|     1.0108|                       2.15|
| 186| BRB|         281635|         280693|         278083|         274711|         264657|         258868|         253575|         241397|       430|         654.9651|     1.0015|                        0.0|
|  96| BLR|        9534954|        9633740|        9700609|        9731427|       10256483|       10428525|        9817257|        9170786|    207600|          45.9295|     0.9955|                       0.12|
|  81| BEL|       11655930|       11561717|       11248303|       10877947|       10264343|        9959560|        9828986|        9629376|     30528|         381.8111|     1.0038|                       0.15|
+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 20 rows

In [16]:
# defining the DataFrames to spark.sql
df_country.createOrReplaceTempView("country")
df_population.createOrReplaceTempView("population")

In [17]:
# spark.sql allows run any sql queries
spark.sql("select * from country").show()

+----+-------------+-----------------+-------------+
|CCA3|      Country|          Capital|    Continent|
+----+-------------+-----------------+-------------+
| JAM|      Jamaica|         Kingston|North America|
| JPN|        Japan|            Tokyo|         Asia|
| JEY|       Jersey|     Saint Helier|       Europe|
| JOR|       Jordan|            Amman|         Asia|
| KAZ|   Kazakhstan|        Nursultan|         Asia|
| KEN|        Kenya|          Nairobi|       Africa|
| KIR|     Kiribati|           Tarawa|      Oceania|
| KWT|       Kuwait|      Kuwait City|         Asia|
| KGZ|   Kyrgyzstan|          Bishkek|         Asia|
| LAO|         Laos|        Vientiane|         Asia|
| LVA|       Latvia|             Riga|       Europe|
| LBN|      Lebanon|           Beirut|         Asia|
| LSO|      Lesotho|           Maseru|       Africa|
| LBR|      Liberia|         Monrovia|       Africa|
| LBY|        Libya|          Tripoli|       Africa|
| LIE|Liechtenstein|            Vaduz|       Europe|
| LTU|    Lithuania|          Vilnius|       Europe|
| LUX|   Luxembourg|       Luxembourg|       Europe|
| MAC|        Macau|Concelho de Macau|         Asia|
| MDG|   Madagascar|     Antananarivo|       Africa|
+----+-------------+-----------------+-------------+
only showing top 20 rows

In [19]:
# the join with country and population tables using the CCA3 column
spark.sql('select c.Country, c.Capital, c.Continent, p.* from country c, population p where c.CCA3 = p.CCA3').show()

+-------------------+----------------+-------------+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|            Country|         Capital|    Continent|Rank|CCA3|2022_Population|2020_Population|2015_Population|2010_Population|2000_Population|1990_Population|1980_Population|1970_Population|Area_(km²)|Density_(per km²)|Growth_Rate|World_Population_Percentage|
+-------------------+----------------+-------------+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
|        Afghanistan|           Kabul|         Asia|  36| AFG|       41128771|       38972230|       33753499|       28189672|       19542982|       10694796|       12486631|       10752971|    652230|          63.0587|     1.0257|                       0.52|
|            Albania|          Tirana|       Europe| 138| ALB|        2842321|        2866849|        2882481|        2913399|        3182021|        3295066|        2941651|        2324731|     28748|          98.8702|     0.9957|                       0.04|
|            Algeria|         Algiers|       Africa|  34| DZA|       44903225|       43451666|       39543154|       35856344|       30774621|       25518074|       18739378|       13795915|   2381741|          18.8531|     1.0164|                       0.56|
|     American Samoa|       Pago Pago|      Oceania| 213| ASM|          44273|          46189|          51368|          54849|          58230|          47818|          32886|          27075|       199|         222.4774|     0.9831|                        0.0|
|            Andorra|Andorra la Vella|       Europe| 203| AND|          79824|          77700|          71746|          71519|          66097|          53569|          35611|          19860|       468|         170.5641|       1.01|                        0.0|
|             Angola|          Luanda|       Africa|  42| AGO|       35588987|       33428485|       28127721|       23364185|       16394062|       11828638|        8330047|        6029700|   1246700|          28.5466|     1.0315|                       0.45|
|           Anguilla|      The Valley|North America| 224| AIA|          15857|          15585|          14525|          13172|          11047|           8316|           6560|           6283|        91|         174.2527|     1.0066|                        0.0|
|Antigua and Barbuda|    Saint John’s|North America| 201| ATG|          93763|          92664|          89941|          85695|          75055|          63328|          64888|          64516|       442|         212.1335|     1.0058|                        0.0|
|          Argentina|    Buenos Aires|South America|  33| ARG|       45510318|       45036032|       43257065|       41100123|       37070774|       32637657|       28024803|       23842803|   2780400|          16.3683|     1.0052|                       0.57|
|            Armenia|         Yerevan|         Asia| 140| ARM|        2780469|        2805608|        2878595|        2946293|        3168523|        3556539|        3135123|        2534377|     29743|          93.4831|     0.9962|                       0.03|
|              Aruba|      Oranjestad|North America| 198| ABW|         106445|         106585|         104257|         100341|          89101|          65712|          62267|          59106|       180|         591.3611|     0.9991|                        0.0|
|          Australia|        Canberra|      Oceania|  55| AUS|       26177413|       25670051|       23820236|       22019168|       19017963|       17048003|       14706322|       12595034|   7692024|           3.4032|     1.0099|                       0.33|
|            Austria|          Vienna|       Europe|  99| AUT|        8939617|        8907777|        8642421|        8362829|        8010428|        7678729|        7547561|        7465301|     83871|         106.5877|      1.002|                       0.11|
|         Azerbaijan|            Baku|         Asia|  91| AZE|       10358074|       10284951|        9863480|        9237202|        8190337|        7427836|        6383060|        5425317|     86600|         119.6082|     1.0044|                       0.13|
|            Bahamas|          Nassau|North America| 176| BHS|         409984|         406471|         392697|         373272|         325014|         270679|         223752|         179129|     13943|          29.4043|     1.0051|                       0.01|
|            Bahrain|          Manama|         Asia| 154| BHR|        1472233|        1477469|        1362142|        1213645|         711442|         517418|         362595|         222555|       765|        1924.4876|     1.0061|                       0.02|
|         Bangladesh|           Dhaka|         Asia|   8| BGD|      171186372|      167420951|      157830000|      148391139|      129193327|      107147651|       83929765|       67541860|    147570|         1160.035|     1.0108|                       2.15|
|           Barbados|      Bridgetown|North America| 186| BRB|         281635|         280693|         278083|         274711|         264657|         258868|         253575|         241397|       430|         654.9651|     1.0015|                        0.0|
|            Belarus|           Minsk|       Europe|  96| BLR|        9534954|        9633740|        9700609|        9731427|       10256483|       10428525|        9817257|        9170786|    207600|          45.9295|     0.9955|                       0.12|
|            Belgium|        Brussels|       Europe|  81| BEL|       11655930|       11561717|       11248303|       10877947|       10264343|        9959560|        9828986|        9629376|     30528|         381.8111|     1.0038|                       0.15|
+-------------------+----------------+-------------+----+----+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------+-----------------+-----------+---------------------------+
only showing top 20 rows

In [21]:
# transform the sql querie result for a DataFrame
df_join = spark.sql('select c.Country, c.Capital, c.Continent, p.* from country c, population p where c.CCA3 = p.CCA3')

In [22]:
# count line
df_join.count()

234

In [25]:
df_join = df_join.withColumnRenamed('Area_(km²)', 'area')

In [27]:
df_join = df_join.withColumnRenamed('Density_(per km²)', 'density_per_km')

In [28]:
# save in csv 
df_join.write.format('parquet').mode('overwrite').save('/processed')